@import url('https://fonts.googleapis.com/css?family=Volkhov');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  margin: 0;
  padding: 0;
  text-transform: none !important;
}

html, body {
    height:100%;
}

.heebo {
  font-family: 'Heebo', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.volkhov {
  font-family: 'Volkhov', serif;
}

#side-navbar {
  overflow: auto;
  flex-grow : 1;
}

.menu-hover:hover {
  background-color: grey;
  color: white;
}

.disable-pointer-events {
  pointer-events: none;
}

.anyClass {
  overflow-y: scroll;
}

.full-height {
  height: 100%;
}