<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/regular.css" integrity="sha384-FKw7x8fCxuvzBwOJmhTJJsKzBl8dnN9e2R4+pXRfYoHivikuHkzWyhKWDSMcGNK8" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/vueWysiwyg.css">
    <title>Mini Wordpress</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid full-height">
        <!-- NAVBAR -->
        <div class="row text-light" style="background-color: #0075db;" >
          <div class="col ">
            <span style="font-family: 'Volkhov', serif; font-size: 2rem">Median</span> 
          </div>
          <div class="col-6  py-3">
            navigations
          </div>
          <div class="col-2  py-3">
            write button
          </div>
          <div class="col-2  py-3">
            <div class="row text-center">
              <div class="col">
                ava
              </div>
              <div class="col">
                notif
              </div>
            </div>
          </div>
        </div>

        <!-- SIDEBAR -->
        <div class="row sidebar-menu">
          <div class="col-2 ">
            <div class="row menu-hover">
              <div class="col  py-2">
                <i class="fas fa-desktop"></i> View site
              </div>
            </div>

            <div class="row menu-hover">
              <div class="col  py-2">
                <i class="fas fa-chart-bar"></i> Stats
              </div>
            </div>

            <div class="row menu-hover">
              <div class="col  py-2">
                <i class="fas fa-history"></i> Activity
              </div>
            </div>

            <div class="row menu-hover">
              <div class="col-8  py-2">
                <i class="fas fa-paper-plane"></i> Plan
              </div>
              <div class="col  py-2">
                Free
              </div>
            </div>

            <div class="row">
              <div class="col  py-2">
                <strong>Manage</strong>
              </div>
            </div>

            <div class="row align-self-center menu-hover">
              <div class="col-8  py-2">
                <span class="d-flex ">Site Pages</span>
              </div>
              <div class="col  py-2">
                <button type="button" class="btn btn-outline-dark btn-sm">Add</button>
              </div>
            </div>


            <div class="row menu-hover">
              <div class="col-8  py-2">
                <a href="#" @click="showCreateArticleForm = false; showBlogPostsPage= true">Blog Posts</a>
              </div>
              <div class="col  py-2">
                <a href="#" @click="showCreateArticleForm = true; showBlogPostsPage= false"><button type="button" class="btn btn-outline-dark btn-sm">Add</button></a>
              </div>
            </div>

            <div class="row align-items-center menu-hover">
              <div class="col-8 ">
                <i class="fas fa-image"></i> Media
              </div>
              <div class="col  py-2">
                <button type="button" class="btn btn-outline-dark btn-sm">Add</button>
              </div>
            </div>

            <div class="row menu-hover">
              <div class="col  py-2">
                <i class="fas fa-comments"></i> Comments
              </div>
            </div>

            <div class="row align-items-center menu-hover">
              <div class="col-8 ">
                Feedback
              </div>
              <div class="col  py-2">
                <button type="button" class="btn btn-outline-dark btn-sm">Add</button>
              </div>
            </div>

            <div class="row menu-hover">
              <div class="col  py-2">
                <i class="fas fa-cloud-upload-alt"></i> Import
              </div>
            </div>

            <div class="row disable-pointer-events menu-hover">
              <div class="col  py-2">
                <strong>Personalize</strong>
              </div>
            </div>

            <div class="row align-items-center menu-hover">
              <div class="col-7 ">
                <i class="fas fa-tools"></i> Customize
              </div>
              <div class="col  py-2">
                <button type="button" class="btn btn-outline-dark btn-sm">Themes</button>
              </div>
            </div>
          </div>

          <!-- CONTENT: Blog Posts -->
          <div class="col text-light" v-if="showBlogPostsPage" style="background-color: #3d3d3d">
            <div class="row d-flex p-5">
              <div class="container ">
                <div class="row mb-4">
                  <div class="col-2 py-2 ">
                    Published
                  </div>
                  <div class="col-2 py-2 ">
                    Drafts
                  </div>
                  <div class="col  py-2">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" v-model="searchInput">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row" v-for="article in searchArticleByTitle">
                  <div class="col  py-2">
                    <h5>{{ article.title }}</h5>
                    <br>
                    <p v-html="article.content"></p>
                  </div>
                  <div class="col-2  py-2">
                    thumbnail
                  </div>
                  <div class="col-1 ">
                    <i class="fas fa-ellipsis-h"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #CONTENT: Blog Posts -->

          <!-- CONTENT: Add article -->
          <div class="col " v-if="showCreateArticleForm">
            <div class="row d-flex p-5">
              <div class="container ">
                <div class="row mb-4">
                  <div class="col ">
                    <form method="POST" @submit.prevent="submitArticle">
                        <div class="form-group">
                          <input type="text" class="form-control" v-model="articleTitle" placeholder="Title">
                        </div>
                        <div class="form-group">
                          <wysiwyg v-model="articleContent"></wysiwyg>
                        </div>
                        <button type="submit">Post</button>
                      <div id="summernote"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- #CONTENT: Add article -->
        </div>
      </div>

    </div>

    <!-- SCRIPTS -->
    <script src="./scripts/vueWysiwyg.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script src="./scripts/main.js"></script>
  </body>
</html>